<!DOCTYPE html>
<style type='text/css'>
.Tab{border-collapse:collapse;}
.Tab td{border:solid 1px #000000;}
</style>
<html>
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
	<table class = 'Tab'>
		 <tr> 
			<td width="">Title</td> 
			<td width="">User</td> 
			<td width="">Tel</td> 
		</tr> 
		<tr> 
			<td>{{title|safe}}</td> 
			<td>{{user}}</td> 
			<td>346465767</td> 
		</tr> 
	</table>
	<a href = "index.html" target=_blank>
	<input type="button" value="back" src='first.html'/>
</a>
</form>	
</body>
</html>